<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBAS_5206_MVCH_SystemAppDemo.Properties.Settings.MVCH_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=MVCH_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>